{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% load i18n %}
{% load menu_tags %}
{% get_settings %}
{% load menu_tags %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
    <style type="text/css">
      {% image page.hero_image original as hero_image %}
        /* change the header image dynamically and override the default template */
        #main-header {
          background-image:url("{{hero_image.full_url}}");
        }

      </style>
{% endblock %}
{% block page_content %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == "en-gb" %}
{% main_menu template="partials/navigation.html" %}
{% else %}
{% flat_menu LANGUAGE_CODE template="partials/navigation.html" fall_back_to_default_site_menus=True %}
{% endif %}
    {% block main %}
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h1>{{ page.title }}</h1>
                </div>
            </div>
               <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
