{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% load i18n %}
{% load menu_tags %}
{% get_settings %}
{% load menu_tags %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
    <style type="text/css">
      {% image page.hero_image original as hero_image %}
        /* change the header image dynamically and override the default template */
        #main-header {
          background-image:url("{{hero_image.full_url}}");
        }

      </style>
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{% wagtail_site as current_site %}{{current_site}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!-- New HTMLs -->
                    {% main_menu %}
                    {% for item in menu_items %}
                    <li>
                      <a href="{{ item.href }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                    {% for item in menu_items %}
                    <li>
                      <a class="page-scroll" href="{{ item.href }}">{{ item.text }}</a>
                    </li>
                    {% endfor %}
                    {% if page %}
                        {% for translation in page.get_translations.live %}
                          {% get_language_info for translation.locale.language_code as lang %}
                          <li><a class="btn btn-default" href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                              {% if forloop.first%}<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>{% endif %}{{ lang.name_local }}
                          </a></li>
                          {% endfor %}
                      {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <section class="bg-info" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <h1>{{ page.title }}</h1>
                </div>
            </div>
               <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-left">
                  {{ page.body|richtext }}
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
