{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% get_settings %}
{% load i18n wagtailcore_tags %}
{% load menu_tags %}
{% block page_head %}
  <title>{{ title }}</title>
{% endblock %}

{% block page_content %}
{% get_current_language as LANGUAGE_CODE %}
{# If we're in default language, load main menu. If not, try to find a language-appropriate menu. If that fails, show a warning sign. #}
{% get_language_info for LANGUAGE_CODE as lang %}
{% if LANGUAGE_CODE == default_language %}
  {% main_menu template="partials/navigation.html" %}
{% else %}
  {% flat_menu handle=LANGUAGE_CODE as trymenu %}
    {% if trymenu|length > 0 %}
      {% flat_menu LANGUAGE_CODE template="partials/navigation.html" %}
    {% else %}
    <div class="alert alert-warning">
      {% blocktranslate %}The menu is not configured for {{ lang.name_local }}. Create a flat menu for this language first!{% endblocktranslate %}
    </div>
    {% endif %}

{% endif %}
{% block main %}
  <section class="no-padding" id="welcome">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-left">
          <div class="btn-group" role="group">
          {% for menu in menus %}
            {% with sloog1=menu.name|slugify %}
            <button class="btn btn-default" type="button"
            data-target="{% for menu in menus %}{% if menu.name|slugify != sloog1 %}.div_{{menu.name|slugify}}{% if not forloop.last and menus|length > 2 and not forloop.last %},{% endif %}{% endif %} {% endfor %}"
            {# data-toggle="collapse" #}
            id="button_{{menu.name|slugify}}">
              {{ menu.name }}
            </button>
            {% endwith %}
          {% endfor %}
          </div>
           {% for guest in guests %}
           <h1>{{ guest.name }}</h1>
           <p>Will eat: </p>
           <h2>Appetiser</h2>
             {% for key,values in appetisers.items %}
             <div class="div_{{ key|slugify }} collapse {% if forloop.first %}in{% endif %}" aria-expanded="{% if not forloop.first %}false{% endif %}"">
              {% for value in values %}
                <p><input type="radio">{{ value.title }}</p>
              {% endfor %}
            </div>
             {% endfor %}
             <h2>Starters</h2>
             {% for key,values in starters.items %}
             <div class="div_{{ key|slugify }} collapse {% if forloop.first %}in{% endif %}" aria-expanded="{% if not forloop.first %}false{% endif %}"">
               {% for value in values %}
                 <p><input type="radio">{{ value.title }}</p>
               {% endfor %}
             </div>
             {% endfor %}
             <h2>Mains</h2>
             {% for key,values in mains.items %}
             <div class="div_{{ key|slugify }} {% if not forloop.first %}collapse{% endif %}">
               {% for value in values %}
                 <p><input type="radio" value="{{value}}">{{ value.title }}</p>
               {% endfor %}
            </div>
             {% endfor %}
             <h3>Desserts</h3>
             {% for key,values in desserts.items %}
             <div class="div_{{ key|slugify }} {% if not forloop.first %}collapse{% endif %}">
               {% for value in values %}
                 <p><input type="radio" value="{{ value }}">{{ value.title }}</p>
               {% endfor %}
             </div>
             {% endfor %}
           {% endfor %}
        </div>
      </div>
    </div>
  </section>
 {% endblock %}
{% endblock %}
{% block page_js %}
    <script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>

<script>
  {% for menu in menus %}
  {% with sloog1=menu.name|slugify %}
  $('#button_{{sloog1}}').click(function(){
    {% for menu in menus %}
      {% with sloog2=menu.name|slugify %}
        {% if sloog2 != sloog1 %}
        $('.div_{{ sloog2 }}').collapse('hide');
        {% endif %}
      {% endwith %}
    {% endfor %}
    $('.div_{{sloog1}}').collapse('show');
  })
  {% endwith %}
  {% endfor %}
  </script>

{% endblock %}
