{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% get_settings %}
{% load i18n wagtailcore_tags %}
{% load menu_tags %}
{% block page_head %}
  <title>{{ title }}</title>
  <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top:50px;
    }
    </style>
{% endblock %}

{% block page_content %}
{% get_current_language as LANGUAGE_CODE %}
{# If we're in default language, load main menu. If not, try to find a language-appropriate menu. If that fails, show a warning sign. #}
{% get_language_info for LANGUAGE_CODE as lang %}
{% if LANGUAGE_CODE == default_language %}
  {% main_menu template="partials/navigation.html" %}
{% else %}
  {% flat_menu handle=LANGUAGE_CODE as trymenu %}
    {% if trymenu|length > 0 %}
      {% flat_menu LANGUAGE_CODE template="partials/navigation.html" %}
    {% else %}
    <div class="alert alert-warning">
      {% blocktranslate %}The menu is not configured for {{ lang.name_local }}. Create a flat menu for this language first!{% endblocktranslate %}
    </div>
    {% endif %}
{% endif %}
{% block main %}
  <section class="no-padding" id="welcome">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-left">
          <div class="btn-group" role="group">
          {% for menu in menus %}
            {% with sloog1=menu.name|slugify %}
            <button class="btn btn-outline-dark" type="button"
            data-target="{% for menu in menus %}
            {% with sloog2=menu.name|slugify len=menus|length %}
            {% if sloog2 != sloog1 %}.div_{{sloog2}}{% if not forloop.last and len > 2 and not forloop.last %},{% endif %}
            {% endif %} {% endwith %}{% endfor %}"
            id="button_{{menu.name|slugify}}">
              {{ menu.name }}
            </button>
            {% endwith %}
          {% endfor %}
          </div>
        
          <form action="" method="post" name="meals">
            {% csrf_token %}
            {% for guest in guests %} {# Guest loop #}
            <div class="col">
              <h1>{{ guest.name }}</h1>
              {% for menu in menus %}
              {% with sloog1=menu.name|slugify first=forloop.first %}
              <div class="div_{{sloog1}} collapse{% if first %} in{% endif %}"
                aria-expanded="{{ first|yesno:'true,false' }}">
              {% regroup menu.ordered_dishes by get_type_display as menu_dishes %} {# Order them by appetiser, starter, etc. #}
              {% for menu_dish in menu_dishes %}
              <h2>{{ menu_dish.grouper }}</h2>
              {% for dish in menu_dish.list %}
              <p><input name="{{ menu_dish.grouper|slugify }}_guest-{{ guest.pk|slugify }}" type="radio" value="dish-{{ dish.pk }}"> {{ dish.title }} {{ dish.comment }}</p>
              {% endfor %}
              {% endfor %} {# End ordered menu loop #}
              {% endwith %}
            </div>
            {% endfor %} {# End menu loop #}
            {% endfor %} {# End guest loop #}
            <input type="submit" value="submit">
          </form>
        </div>
      </div>
    </div>
  </section>
 {% endblock %}
{% endblock %}
{% block page_js %}
<script src="{% static 'bootstrap-3.3.6-dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
<!-- Automatically fit text based on screen size.-->
<script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
<!-- Custom Theme JavaScript -->
<script src="{% static 'creative/js/creative.js' %}"></script>

<script>
  {% for menu in menus %}
  {% with sloog1=menu.name|slugify %}
  $('#button_{{sloog1}}').click(function(){
    {% for menu in menus %}
      {% with sloog2=menu.name|slugify %}
        {% if sloog2 != sloog1 %}
        $('.div_{{ sloog2 }}').collapse('hide');
        {% endif %}
      {% endwith %}
    {% endfor %}
    $('.div_{{sloog1}}').collapse('show');
  })
  {% endwith %}
  {% endfor %}
  </script>

{% endblock %}
