{% extends 'base.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
    {% image template.hero_image original as hero_image %}

    <style type="text/css">
      body{
        background: linear-gradient(
          rgba(255, 255, 255, 0.6),
          rgba(255, 255, 255, 0.6)
        ), url({{hero_image.url}}) no-repeat center center fixed;
      }
      </style>
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container" id="main">
        {% if party.any_guests_attending %}
            {{ template.rsvp_positive_response_text|safe }}
        {% else %}
            {{template.rsvp_negative_response_text|safe }}
        {% endif %}
        <p>
            - {{couple}}
        </p>
    </div>
{% endblock %}
