{% extends "../base.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
    <style type="text/css">
      {% image page.hero_image original as hero_image %}
        /* change the header image dynamically and override the default template */
        #main-header {
          background-image:url("{{hero_image.full_url}}");
        }
      </style>
{% endblock %}
{% block page_content %}
<div class="container">
<h1>Password required</h1>
<p>You need a password to access this page.</p>
<form action="{{ action_url }}" method="POST">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div>
        {{ form.password.errors }}
        {{ form.password.label_tag }}
        {{ form.password }}
    </div>

    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
    <input type="submit" value="Continue" />
</form>
</div>
{% endblock %}
