{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load wagtailsettings_tags %}
{% get_settings %}
{% load i18n wagtailcore_tags %}
{% load menu_tags %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- brand and toggle -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand page-scroll" href="#page-top">{{ settings.babtyno.NewlyWedSetting.newlyweds }}</a>
    </div>
    <!-- /brand and toggle -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">

            {% for item in menu_items %}
              <li>
                <a class="{{ item.active_class }} page-scroll navbar-brand" href="{{ item.href }}">{{item.text}}</a>
              </li>
            {% empty %}
             {% main_menu %}
            {% endfor %}

        {% if page %}
            {% for translation in page.get_translations.live %}
              {% get_language_info for translation.locale.language_code as lang %}
              <li><a class="btn btn-default" href="{% pageurl translation %}" rel="alternate" hreflang="{{ language_code }}">
                  {% if forloop.first%}<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>{% endif %}  {{ lang.name_local }}
              </a></li>
        {% endfor %}
        {% endif %}
      </ul>
      </div>
    </div>

</nav>
